.container-row {
  display: flex;
}

.nice-spacing {
  margin: 10px 0;
}

.form-label {
  font-size: 1.2em;
  color: #000066;
}

.full-label {
  display: block;
  margin: 10px 0;
}

.less-label {
  margin-right: 15px;
}

.form-input {
  width: 100%;
  padding: 8px;
  border: none;
  border-bottom: 2px solid #000066;
}

.input-fit {
  flex-grow: 2;
  padding: 5px;
  border: 2px solid #000066;
}

.save-button {
  display: block;
  padding: 0.7em 1em;
  background-color: navy;
  color: white;
  border: none;
  border-radius: 3px;
  margin: 20px 0;
}
